<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<context:annotation-config />
	<context:component-scan base-package="org.zulvani.smht.dao" />
	<context:component-scan base-package="org.zulvani.smht.service" />
	<context:component-scan base-package="org.zulvani.smht.controller" />

	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- Enables the Spring MVC @Controller programming model -->
	<mvc:annotation-driven />

	<context:property-placeholder location="classpath:jdbc.mysql.properties"/>
	
	<bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource"
        autowire-candidate="true" autowire="byName">
        <property name="driverClassName" value="${jdbc.driver.classname}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.db.username}" />
        <property name="password" value="${jdbc.db.password}" />
    </bean>
    
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- 
	<bean name="/welcome.htm" 
		class="org.zulvani.smht.controller.UserController" />
  	-->	
  
    <bean id="viewResolver"
    	class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
        <property name="prefix">
            <value>/WEB-INF/pages/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>
</beans>